CompileFlags:
CompilationDatabase: "build"
  Add:
    - "--target=xtensa-esp32-elf"
    - "-isystem"
    - "/home/german/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include"
    - "-isystem"
    - "/home/german/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0"
    - "-isystem"
    - "/home/german/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf"
  Remove:
    - -fno-tree-switch-conversion
    - -mno-esp-function-prologue
    - -mlong-calls
    - -fstrict-volatile-bitfields